{% extends 'base.html.twig' %}

{% block title %}Créer un chantier{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Créer un chantier</h1>

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <div class="row mt-3">
            <div class="col-md-6 offset-md-3">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary mt-3 w-100">Créer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
