{% extends 'base.html.twig' %}

{% block title %}Chantier {{ worksite.title }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">{{ worksite.title }}</h1>
        <p>{{ worksite.description }}</p>
        <p>{{ worksite.city }}, {{ worksite.postalCode }}</p>
        <p>latitude {{ worksite.latitude }}</p>
        <p>longitude {{ worksite.longitude }}</p>

        <div id="map"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script>
        console.log({{ worksite.latitude }});
        console.log({{ worksite.longitude }});
        document.addEventListener("DOMContentLoaded", function() {
            var map = L.map('map').setView([{{ worksite.latitude }}, {{ worksite.longitude }}], 13);

            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            L.marker([{{ worksite.latitude }}, {{ worksite.longitude }}]).addTo(map)
                .bindPopup('{{ worksite.title }}<br>{{ worksite.description }}')
                .openPopup();
        });
    </script>
{% endblock %}
